body {
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  background: #f6f6f6;
}

.module {
  background-color: #859ca6;
  background-size:contain;
  width: 450px;
  min-height: 550px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.header {
  position: relative;
}

.module > header > h1 {
  margin: 50px;
  color: white;
}

.module > header {
  padding: 20px 10px;
  text-align: center;
}

.fields {
  margin: 20px 20px 220px 20px;
}

#selectedText {
  color: black;
  padding: 20px;
  background: rgba(77, 106, 121, 0.73);
  font-family: monospace;
}

.field {
  line-height: 1.42857143;
  padding: 6px 12px; 
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  float: left;
  margin-left: 15px;
}

.questionable_question {
  margin-top: 20px;
}

.email_address {
  float: left;
  margin-top: 10px;
  display: block;
}

.btn {
  background-color: #8db299;
  color: white;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  clear: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn:hover {
  background-color: #3e913b;
  cursor: pointer;
}
.btn:active, .btn:focus {
  background-color: white;
  color: #3e913b;
  border: 1px solid #3e913b;
}

#status {
  /* avoid an excessively wide status text */
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 400px;
}

blockquote {
  border-left: 10px solid #4d6a79;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  font-family: 'Montserrat', sans-serif;
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.close {
  display: inline-block;
  overflow: hidden;
  width: 20px;
  height: 20px;

  position: absolute;
  top: 10px;
  right: 20px;
  border-radius: 20px;
  background-color: #688897;
}

.close:hover {
  background-color: #4d6a79;
  cursor: pointer;
}

.close span {
  display: block;
  color: #ebeff1;
  font-size: small;
  padding-top: 1px;
}