body {
  font-family: Georgia, sans-serif;
  font-size: 100%;
  background: #f6f6f6;
  color: black;
}

.module {
  background-color: white;
  background-size:contain;
  width: 350px;
  min-height: 550px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.header {
  position: relative;
}

.module > header > h1 { 
  word-spacing: -0.2em;
}

.header-logo {
  width: 2.4em;
}

.module > header {
  padding: 20px 10px;
  text-align: center;
}

.fields {
  margin: 20px 20px 140px 20px;
}

.selected-text {
  padding: 20px;
  font-family: monospace;
}

#selectedText {
  background-color: #ccc;
}

.field {
  line-height: 1.42857143;
  padding: 6px 12px; 
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  float: left;
  margin-left: 15px;
}

.fields > p {
  margin: 30px 0 10px 0;
  padding: 10px 0 5px 0;
  border-top: 2px dotted #ccc;
}

.questionable_question {
  background-color: #f0f0f0;
}

.email_address {
  float: left;
  margin-top: 10px;
  display: block;
}

.btn {
  background-color: #edea1c;
  padding: 12px 16px ;
  font-size: 14px;
  line-height: 1.42857143;
  text-align: center;
  border: 1px solid transparent;
  clear: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn:hover {
  background-color: #edc21d;
  cursor: pointer;
}
.btn:active, .btn:focus {
  background-color: white;
  border: 1px solid #3e913b;
  color: #3e913b;
}

#status {
  /* avoid an excessively wide status text */
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 400px;
}

blockquote {
  quotes: "\201C""\201D""\2018""\2019";
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  font-family: Georgia, sans-serif;
}

blockquote p {
  display: inline;
}

.close {
  display: inline-block;
  overflow: hidden;
  width: 20px;
  height: 20px;

  position: absolute;
  top: 10px;
  right: 20px;
  border-radius: 20px;
  background-color: #ccc;
}

.close:hover {
  background-color: #868686;
  cursor: pointer;
}

.close span {
  display: block;
  color: white;
  font-size: small;
  padding-top: 1px;
}